@use 'styles/themes/theme' as *;
@use 'styles/abstracts/variables' as *;

.ambientsound-container {
  width: 100%;
    
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: $space-3;

}