$global-background: #acacac;

$black: #0c0c0c;
$dark-blue: #14171c;
$white: #f6f6f6;
$white-transparent: rgba($white, 0.2);
$grey: #919191;
$blue: #32d7e6;

$chromatic-abberation-red: rgba(255, 10, 92, 0.35);
$chromatic-abberation-cyan: rgba(22, 134, 245, 0.7);

// @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
